pyrogram
tgcrypto
pymongo
motor
textblob
aiohttp
pyromod
pytz
python-dotenv
# Pyrogram Fork
pyrofork==2.3.45

# YouTube Downloading
ffmpeg
youtube-dl
youtube-search-python==1.4.6
youtube_search
yt-dlp
ytthumb

# Instaloader & Similarity Matching
fuzzywuzzy
instaloader==4.9.5
python-Levenshtein

# AI Tools
bard
beautifulsoup4
google-generativeai
googletrans==3.1.0a0
gtts==2.3.1
lexica-api
MukeshAPI
qrcode
textblob
langdetect 

# Git-based Packages
git+https://github.com/Joelkb/cinemagoer

# Other Tools
apscheduler
opencv-python-headless==4.8.1.78
telegraph==2.2.0
